.registerCustomer {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
}

.registerCustomer:focus-within label {
    color: #FE4880;
  }
  
  .registerCustomer h2 {
    font-size: 20px;
    color: #f1356d;
    margin-bottom: 30px;
  }
  .registerCustomer input {
    width: 100%;
    padding: 6px 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    box-sizing: border-box;
    display: block;
  }
  .registerCustomer button {
    display: inline-block;
    padding: 10px 15px;
    border-radius: 8px;
    background-image: linear-gradient(to right, #FFCE00, #FFCE00 50%, #FE4880);
    background-size: 200%;
    background-position: 0%;
    transition: 0.4s;
    color: #FFF;
    font-weight: 700;
    cursor: pointer;
  }
  .registerCustomer button:hover {
    background-position: 100% 0%;
  }